<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!shouldShowSupport" id="container" style="padding: 10px;">
    <ion-label *ngIf="label" class="ion-padding" style="padding: 15px;">{{ label }}</ion-label>
    <ion-button expand="block" (click)="testLibrary('full')" style="padding-bottom: 25px; --background: blue;">Test full
      scan</ion-button>
    <ion-button expand="block" (click)="testLibrary('quick')">Test quick
      scan</ion-button>
  </div>

  <div *ngIf="shouldShowSupport" id="support-container" style="margin-top: 50px;">
    <ion-label *ngIf="label" class="ion-padding">{{ label
      }}</ion-label>
    <ion-button expand="block" (click)="runScanTest('signal')"
      style="padding-top: 25px; padding-bottom: 20px; --background: magenta;">Run
      Wifi Signal Test</ion-button>
    <ion-button expand="block" (click)="runScanTest('wifis')" style="padding-bottom: 20px; --background: green;">Run
      nearest wifis Test</ion-button>
    <ion-button expand="block" (click)="runScanTest('devices')" style="padding-bottom: 20px; --background: blue;">Run
      Connected Devices Test</ion-button>
    <ion-button expand="block" (click)="runScanTest('speed')" style="padding-bottom: 25px; --background: orange;">Run
      Speed Test</ion-button>
    <ion-button expand="block" (click)="takePicture()" style="padding-bottom: 25px; --background: black;">Take
      Picture</ion-button>
    <ion-button expand="block" (click)="startRemoteAssitance()" style="padding-bottom: 25px; --background: purple;">{{
      remoteAssistanceButtonTitle }}</ion-button>
    <ion-label *ngIf="remoteAssitanceUrl" class="ion-padding" style="margin-top: 15px; margin-bottom: 30px;">
      Remote Url: <a href="{{ remoteAssitanceUrl }}">{{ remoteAssitanceUrl }} </a>
    </ion-label>
    <ion-button expand="block" (click)="resetToMain()" style="padding-bottom: 25px; --background: red;">Go
      back</ion-button>
  </div>
</ion-content>